
html {
    overflow-y: hidden;
    /* cursor: none;  */
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
body {
    background-color: #1B2636;
    /* pointer-events: none */
}
table {
    color: #fff;
    width: 100%;
    position: relative;
}
table h4 {
    font-size: 1.7vw;
    padding-top: 8%;
    padding-bottom:4%;
}
.conteudo {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 70vh;
    position: relative;
}
.sidepanel{
    width: 300px;
    padding: 20px;
    list-style: none;
  }

/*#table {
    /*animation-name: animationclc;
    //animation-duration: 100s;
     animation-iteration-count: infinite; 
    //animation-timing-function: linear;
    //animation-delay: 10s;
}
@keyframes animationclc {
    0% {
        transform:translateY(0%);
    }
    100% {
        transform:translateY(-100%);
    }
}*/
thead{
    table-layout: auto;
}
th {
    background-color: rgb(27, 37, 54, 0.47);
    font-size: 1.0vw;
    font-weight: 500;
}
td {
    font-size: 1.35vw;
}
td, th {
    padding: 1.2% 1%;
    text-align: center;
}
h2, small, div {
    color: #fff;
}
h2 {
    font-size: 1.8vw;
    font-weight: 500;
    margin-bottom: 0.3%;
}
h2 small {
    font-size: 0.9vw;
    font-weight: 500;
    margin-left: 0.5%;
}
.wrap {
    background-color: #21354D;
    border-radius: 10px;
    width: 100%;
    padding: 1% 2% 1% 2%;
}
.d-flex {
    padding: 3% 3% 0 3%;
}


.time {
    font-size: 0.95vw;
    margin-bottom: 1.5%;
    font-weight: 400;
}
.badge {
    font-size: 0.65vw;
    padding: 0.3% 0.9%;
    background-color: #5800FF;
    position: absolute;
    margin-top: 7px;
    margin-left: 4px;
}
.badge-new {
    background-color: #5800FF;
}
.badge-delay {
    background-color: #AA0000
}
.badge-finished {
    background-color: #0FAF4F
}



/* .js-marquee {
    margin-bottom: 0px!important;
} */
table tr.bg-delay {
    background-color:rgba(255, 0, 0, 0.420);
    border-bottom: 1px solid rgba(255, 0, 0, 0.192);
}
table tr.bg-finished {
    background-color:#00a341
}

/* table tr:first-child td {
    background-color: green;
} */

.blank-space:before { 
    content: "\00a0 ";
    letter-spacing:7px

}
.column-modal {
    text-align: left;
    padding-left: 2.5%;
}

/* Bar Style */
tr:nth-child(even) {
    background-color:rgb(27, 37, 54, 0.47);
}
tr:nth-child(odd) {
    background-color: rgb(27, 37, 54, 1);
}
::-webkit-scrollbar {
    display: none
}
::-moz-scrollbar {
    display: none
}

/* .css-y1c0xs {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    animation-delay: 15s;
    animation: 15s infinite; 
    animation-duration: 30s;

} */




/* .conteudo table {
    padding-left: 100%;
    animation: marquee 60s linear infinite;
} */
/* @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(0, -100%); }
} */
@keyframes marquee {
    0%   { margin-top: 0%;
        transform: translate(0, 0);
    }
    100% { margin-bottom:0%;
        transform: translate(0, -100%);
    }
}